* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
  background-color: red;
}

header h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(-1px) scale(2);
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(../images/z.png);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2.5);
  z-index: -1;
  min-height: 100vh;
  background-size: contain;
  background-position: 86% 9px;
  background-repeat: no-repeat;
  filter: brightness(0.2);
}
#hwa {
  position: absolute;
  top: 243px;
  left: 0;
  transform: translateZ(-1.7px) scale(2.4);
  min-height: 100vh;
  filter: blur(4px);
}

.container {
  background: linear-gradient(
    180deg,
    transparent -1%,
    rgb(0 0 0) -6%,
    black 8%
  );
  z-index: 2;
  position: absolute;
  top: 100vh;
  line-height: 30px;
  font-weight: lighter;
  color: grey;
  height: 200vh;
  width: 100%;
}
#princip {
  z-index: 700000;
  width: 100%;
  bottom: -37px;
  position: absolute;
  right: 0;
  filter: grayscale(1) brightness(0.001);
  object-fit: cover;
  transform: scale(1.15) translateZ(-0.15px);
  transform-origin: center center 0;
}
#bg {
  position: absolute;
  transform: translateZ(-2px) scale(3);
  z-index: -100;
  width: 100%;
  top: 0;
  height: 100vh;
  left: 0;
}
#smoke {
  left: 0;
  width: 100%;
  filter: opacity(0.8);
  position: absolute;
  transform: translatez(-0.5px) scale(1.5);
}
.storys {
  z-index: 100000;
  display: grid;
  grid-template-rows: 45% 45%;
  grid-template-columns: 30% 30% 30%;
  width: 80%;
  position: absolute;
  top: 153vh;
  height: 100vh;
  justify-content: space-around;
  align-content: space-around;
}
.storys::after {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "top 6 horror caracters";
  position: absolute;
  width: 228px;
  height: 128px;
  background-color: #450103;
  top: 50%;
  right: 0;
  transform: translate(93%, -50%);
  z-index: -25;
  font-weight: 800;
}
.monster {
  position: absolute;
  width: 90%;
  height: 95%;
  background-color: red;
  transform-style: preserve-3d;
  top: 0;
  right: 5%;
}
.cont_mon {
  height: 100%;
  width: 80%;
  margin: auto;
  transform-style: preserve-3d;
  transform-origin: center center 0;
  position: relative;
  transition-duration: 2s;
}
.back {
  transform-origin: center center 0;
  transform: rotateY(180deg);
  background-color: gray;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 95%;
  transform-style: preserve-3d;
  background: radial-gradient(
    circle,
    rgb(255 255 255) 0%,
    rgba(255, 255, 255, 1) 1%,
    grey 100%
  );
}
.monster,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.chi {
  height: 100%;
}
.chi:hover .cont_mon {
  transform: rotateY(180deg);
  transform-origin: center bottom 0;
}
.chi h3 {
  text-align: center;
  font-size: 32px;
  transform: translateZ(167px);
}
.monster img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back h4 {
  color: #450103;
  text-align: center;
  font-size: 32px;
  transform: translateZ(167px);
}
.back p {
  color: #ff000099;
  padding: 3px;
  text-align: center;
  font-size: 17px;
  transform: translateZ(99px);
}
.story_s {
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 300vh;
  left: 50%;
  transform: translateX(-50%);
  perspective: 1px;
  transform-style: preserve-3d;
}
.img1 {
  width: 42%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  max-height: 66vh;
  object-fit: cover;
}
.red_border {
  position: absolute;
  width: 75%;
  height: 50%;
  border: 2.5px solid red;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(2) translateZ(-0.5px);
}
.article {
  border: none;
  transform: translate(-50%, -50%) scale(1.25) translateZ(-0.25px);
}
.article {
  width: 58%;
  right: 0;
  left: 88%;
  height: 60%;
}
.article h4 {
  font-size: 36px;
  width: 69%;
  font-weight: 800;
}
.article p {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-top: 17px;
}
.evidence {
  top: 400vh;
  z-index: -1;
}

/**/
/**/
/*-------revercse the distribution of elements--------*/
.right {
  right: 0px;
  left: auto;
}
.revers {
  left: auto;
  right: 27%;
  text-align: end;
}
.revers h4 {
  margin-left: auto;
}
.revers button {
  margin-left: auto;
}
/**/
/**/
/**/
.under {
  transform: translate(-50%, -50%) scale(2) translateZ(-0.5px);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background: linear-gradient(360deg, black, transparent);
  position: absolute;
  z-index: 0;
}
img[class="under"] {
  z-index: -1;
  filter: contrast(0.5);
  background: none;
  height: 99%;
}
/*---third section---*/
.three {
  top: 520vh;
  width: 50%;
  left: 0;
  transform: none;
}
.three .img1 {
  transform: translateY(0%);
  position: absolute;
  margin-top: auto;
  bottom: 46vh;
  width: 90%;
  height: 50vh;
  top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: #450103;
  filter: blur(3px) brightness(0.5);
  margin-left: 26px;
  transition-duration: 0.8s;
}
.img1:hover {
  filter: none;
}

.three .article h4 {
  width: 100%;
}
.three .article p {
  font-size: 18px;
}
.three .article button {
  display: none;
}
.three .red_border {
  width: 100%;
  height: 40%;
  left: 75%;
}
.three .article {
  width: 90%;
  left: -18%;
  bottom: -8%;
  right: auto;
  top: auto;
  transform: translate(0%, 0%) scale(1.25) translateZ(-0.25px);
  height: fit-content;
  transform-origin: top;
}
.three .img1 .img {
  width: 45%;
  height: 45%;
}
#h {
  height: 86%;
  bottom: 10%;
  transform-style: preserve-3d;
  perspective: 1px;
  right: -93%;
  left: auto;
  transform: translate(0%, 0%);
}
#h img {
  width: 100%;
  height: 63%;
  object-fit: cover;
  bottom: 0;
  position: absolute;
  filter: blur(3px) brightness(0.5);
  transition-duration: 0.8s;
}
#h img:hover {
  filter: none;
}
#h p {
  margin: 0;
  bottom: 65%;
  position: absolute;
  font-size: 19px;
  transform: translate(20%, -80%) scale(1.25) translateZ(-0.25px);
}
/**/
/*contact zino*/
.zino {
  width: 100%;
  height: 14vh;
  background-color: #161616;
  direction: ltr;
  position: absolute;
  bottom: -538vh;
}
.linkat {
  text-shadow: 5px 5px 6px #8d8d8d;
  width: 25%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 37px;
}
.linkat a i {
  color: white;
}
.zino_acounts {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.zino_acounts p {
  text-shadow: 5px 5px 6px #686868;
  color: #b5b5b5;
  font-size: 32px;
  margin-right: 30px;
  text-transform: uppercase;
}
/**/

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*---------button style---------*/
button,
button::after {
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, red 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "AVAILABLE NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    red 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
/*------------end-of-button-style------------*/
